<div  fxLayout="row" fxLayoutAlign="start stretch"  fxLayoutGap="0.5%" fxLayout.lg="row"  fxLayout="column">
  <div fxFlex>
    <app-stat [bgClass]="'danger'" [count]="13" [icon]="'blur_off'" [label]="'Linear regression model'"></app-stat>
  </div>
  <div fxFlex>
    <app-stat [bgClass]="'warn'" [count]="12" [icon]="'settings_input_svideo'" [label]="'Logistic regression model'"></app-stat>
  </div>
  <div fxFlex>
    <app-stat [bgClass]="'success'" [count]="124" [icon]="'exposure'" [label]="'Neural Network model'"></app-stat>
  </div>
  <div fxFlex>
    <app-stat [bgClass]="'info'" [count]="13" [icon]="'face'" [label]="'Convolutional neural'"></app-stat>
  </div>
  <div fxFlex>
    <app-stat [bgClass]="'info'" [count]="13" [icon]="'texture'" [label]="'Text processing model'"></app-stat>
  </div>
</div>
