<h2 mat-dialog-title>{{description}}</h2>


<mat-dialog-content [formGroup]="form">

  <mat-form-field>

    <input matInput
           placeholder="Model name"
           formControlName="modelName" [(ngModel)]="modelName" id="modelName">

  </mat-form-field>


  <input type="file" (change)="onFileChange($event)"/>


</mat-dialog-content>

<mat-dialog-actions>

  <button class="mat-raised-button"
          (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary" [disabled]="form.invalid"
          (click)="save()">
    Save
  </button>

  <mat-progress-bar color="warn" mode="buffer" *ngIf="spinnerServiceService.visibility | async"></mat-progress-bar>

</mat-dialog-actions>
